{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="index-banner" class="parallax-container">
        <div class="center-align section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center grey-text text-darken-4"></h1>
                <div class="row center">
                <h5 class="header col s12 grey-text text-darken-4"></h5>
                </div>
                <div class="row center">
                <h5 class="header col s12 grey-text text-darken-4"></h5>
                </div>
                <div class="row center">
                </div>
                <br><br>
<!---------------------------------------------Search functon within backgorund image in first section of page-->
                <div class="nav-wrapper">
                    <form class="form" method="GET" action="{% url 'propertys' %}">
                        <div class="input-field">
                            <input id="search" placeholder="Search Our Properties" type="search" name="q" autocomplete="off" required>
                            <label class="label-icon" for="search"><i class="small material-icons">search</i></label>
                            <i class="small material-icons">close</i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{% static 'homepage/background1.jpg' %}" alt="Unsplashed background img 1"></div>
    </div>

<!------------------------------second section information on services-->>
    <div class="container">
        <div class="section">
        <div class="row">
            <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                <h5 class="center">A member of IPAV</h5>

                <p class="center">(Institute of Professional Auctioneers and Valuers)</p>
            </div>
            </div>

            <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">portrait</i></h2>
                <h5 class="center">Licenced by the Property Resigtration Authority</h5>

                <p class="light center">(PRAI)</p>
            </div>
            </div>

            <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center brown-text"><i class="small material-icons">home</i></h2>
                <h5 class="center">Search our Cataloge of Properties above</h5>

                <p class="center">We have an extensive list of properties</p>
            </div>
            </div>
        </div>

        </div>
    </div>

<!--------------------------------second section background photo-->
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
        </div>
        <div class="parallax"><img src="{% static 'homepage/background2.jpg' %}" alt="Unsplashed background img 2"></div>
    </div>
<!-------------------------------contact information-->
    <div class="container">
        <div class="section">

        <div class="row">
            <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>Contact Us</h4>
            <p class="center-align"><strong>kmountestates@gmail.com</strong></p>
            </div>
        </div>

        </div>
    </div>

<!---------------------third background section-->
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
        </div>
        <div class="parallax"><img src="{% static 'homepage/background3.jpg' %}" alt="Unsplashed background img 3"></div>
    </div>
<!--------------------------------footer-->
    <footer class="page-footer teal">
        <div class="container">
            <div class="col l6 s12 center">
            <h5 class="white-text center-align">Kerrymount-Estates</h5>
            <p class="grey-text text-lighten-4 center-align">Bringing the properties to market in a convenient and affordable way. 
                With over 10 years experience in the property market both 
                internatioanlly and domestically we strive to provide the best service possible.</p>
            </div>
            </div>
        <div class="footer-copyright">
        </div>
    </footer>
{% endblock %}