{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
            <script src="https://kit.fontawesome.com/c76b1921bb.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <script src="{% static 'js/materialize.js' %}"></script>
            <script src="{% static 'js/init.js' %}"></script>
            <script src="{% static 'js/carosel.js' %}"></script>

        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>Kerrymount-Estates {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
            <a id="logo-container" href="{% url 'home' %}" class="brand-logo">Kerrymount Estates</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'sale' %}">For Sale</a></li>
                <li><a href="{% url 'rent' %}">For Rent</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="{% url 'sale' %}">For Sale</a></li>  
                <li><a href="{% url 'rent' %}">For Rent</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <div class="slider">
            <ul class="slides">
            <li>
                <img src="{% static 'media/5-the-courtyard.jpg' %}"> <!-- random image -->
                <div class="caption center-align">
                <h2><strong>Sold!</strong></h2>
                <h3 class="light grey-text text-lighten-3">€400,000</h3>
                </div>
            </li>
            <li>
                <img src="{% static 'media/7-crane-yard.jpg' %}"> <!-- random image -->
                <div class="caption left-align">
                <h2><strong>For Sale</strong></h2>
                <h3 class="light grey-text text-lighten-3"> €2,000 p/m</h3>
                </div>
            </li>
            <li>
                <img src="{% static 'media/mount-saint-annes.jpg' %}"> <!-- random image -->
                <div class="caption right-align">
                <h2><strong>Sold!</strong></h2>
                <h3 class="light grey-text text-lighten-3">€500,000</h3>
                </div>
            </li>
            </ul>
        </div>  
    </body>
</html>