{% extends 'base.html' %}
{% load static %}

{% block content %}
<!---------------------------------slideshow heading-->
        <div class="slider">
            <ul class="slides">
            <li>
                <img src="{% static 'media/5-the-courtyard.jpg' %}">
                <div class="caption center-align">
                <h2><strong>Sold!</strong></h2>
                <h3 class="light grey-text text-lighten-3">€400,000</h3>
                </div>
            </li>
            <li>
                <img src="{% static 'media/7-crane-yard.jpg' %}">
                <div class="caption left-align">
                <h2 class="black-text"><strong>For Sale</strong></h2>
                <h3> €2,000 p/m</h3>
                </div>
            </li>
            <li>
                <img src="{% static 'media/mount-saint-annes.jpg' %}">
                <div class="caption right-align">
                <h2><strong>Sold!</strong></h2>
                <h3 class="light grey-text text-lighten-3">€500,000</h3>
                </div>
            </li>
            </ul>
        </div>
<!---------------------------New section of properties for Rent-->
    <div class="container">
        <div class="row">
                <div class="col l6 m4 s12">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static 'homepage/background1.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Dundrum Co.Dublin<i class="material-icons right">more_vert</i></span>
                            <p>€1500 per month</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">For Rent<i class="material-icons right">close</i></span>
                            <p>3 bad 2 bath rental in Dundrum co.Dublin €1500 per month.</p>
                        </div>
                    </div>
                </div>
                <div class="col l6 m6 s12">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static 'homepage/background1.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Rathgar Co.Dublin<i class="material-icons right">more_vert</i></span>
                            <p>€1800 per month</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">For Rent<i class="material-icons right">close</i></span>
                            <p>4 bed 3 bath rental Rathgar Co.Dublin €1800 per month.</p>
                        </div>
                    </div>
                </div>
            <div class="col l6 m6 s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'homepage/background1.jpg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Walkinstown Co.Dublin<i class="material-icons right">more_vert</i></span>
                        <p>€1100 per month</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">For Rent<i class="material-icons right">close</i></span>
                        <p>1 bad 1 bath rental in Walkinstown co.Dublin €1100 per month</p>
                    </div>
                </div>
            </div>
            <div class="col l6 m6 s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'homepage/background1.jpg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Stillorgan Co.Dublin<i class="material-icons right">more_vert</i></span>
                        <p>€1700 per month</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">For Rent<i class="material-icons right">close</i></span>
                        <p>4 bed 2 bath rental Stillorgan Co.Dublin €1700 per month</p>
                    </div>
                </div>
            </div>
            <div class="col l6 m6 s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'homepage/background1.jpg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">City Center Co.Dublin<i class="material-icons right">more_vert</i></span>
                        <p>€2000 per month</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">For Rent<i class="material-icons right">close</i></span>
                        <p>2 bad 2 bath rental in City Center co.Dublin €2000 per month</p>
                    </div>
                </div>
            </div>
            <div class="col l6 m6 s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'homepage/background1.jpg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Blockrock Co.Dublin<i class="material-icons right">more_vert</i></span>
                        <p>€1000 per month</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">For Rent<i class="material-icons right">close</i></span>
                        <p>1 bed 1 bath rental Blockrock Co.Dublin €1000 per month</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}