    {% load static %}
    <!-------------------------------Full page navbar-->
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
        <a id="logo-container" href="{% url 'home' %}" class="brand-logo">Kerrymount Estates</a>
        <ul class="right hide-on-med-and-down">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'sale' %}">For Sale</a></li>
                <li><a href="{% url 'rent' %}">For Rent</a></li>
                <li><a href="{% url 'propertys' %}">All Propertys</a></li>
                <li><a href="{% url 'wallet' %}"><i class="material-icons">account_balance_wallet</i></a></li>
                <li><p class="black-text inline">{% if total %}${{ total|floatformat:2 }}{% else %}€0.00{% endif %}</p></li>
                <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                {% else %}
                <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
            {% endif %}               
        </ul>
<!--------------------------------mobile navbar-->
        <ul id="nav-mobile" class="sidenav">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'sale' %}">For Sale</a></li>  
                <li><a href="{% url 'rent' %}">For Rent</a></li>
                <li><a href="{% url 'propertys' %}">All Propertys</a></li>
                <li><a href="{% url 'wallet' %}"><i class="material-icons">account_balance_wallet</i></a></li>
                <li><a class="black-text inline">{% if total %}${{ total|floatformat:2 }}{% else %}€0.00{% endif %}</a></li>
                <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                {% else %}
                <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
            {% endif %}
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
