{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
                <h2 class="">Property Wallet</h2>
            <hr>
        </div>
    </div>

        <div class="row">
        <div class="col">
            {% if bag_items %}
                <div class="table"></div>
            {% else %}
                <p class="">Your Wallet is Empty!</p>
                <a href="{% url 'propertys' %}" class="waves-effect waves-light btn"><i class="material-icons left">add_shopping_cart</i>button</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}