{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
                <h2 class="">Property Wallet</h2>
            <hr>
        </div>
    </div>

        <div class="row">
        <div class="col">
            {% if wallet_items %}
                <div class="table">
                    {{ wallet_items }}
                </div>
            {% else %}
                <p class="">Your Wallet is Empty!</p>
                <a href="{% url 'propertys' %}" class="waves-effect waves-light btn"><i class="material-icons left">add_shopping_cart</i>Keep Browsing</a>
                <p class="">Checkout!</p>
                <a href="{% url 'checkout' %}" class="waves-effect waves-light btn"><i class="material-icons left">credit_card</i>Checkout</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}