{% extends 'base.html' %}
{% load static %}
{% load wallet_tools %}
<!-------------------------------------Checkout form to submit purchase to Stripe for processing-->
{% block content %}
  <div class="row">
    <form class="col s12" action="{% url 'checkout' %}" method="POST" id="payment-form">
        {% csrf_token %}
      <div class="row">
        <div class="input-field col s6">
            {{order_form.first_name}}
        </div>
        <div class="input-field col s6">
            {{ order_form.last_name}}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            {{ order_form.full_address}}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            {{ order_form.phone}}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            {{ order_form.email}}
        </div>
      </div>
        <fieldset class="px-3">
            <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
            <!-- A Stripe card element will go here -->
            <div class="mb-3" id="card-element"></div>

            <!-- Used to display form errors -->
            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
        </fieldset>
            <div class="submit-button text-right mt-5 mb-2">                    
                <a href="{% url 'wallet' %}" class="btn btn-outline-black rounded-0">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="font-weight-bold">Adjust Wallet</span>
                </a>
                <button id="submit-button" class="btn btn-black rounded-0">
                    <span class="font-weight-bold">Complete Order</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </button>
            </div>
            </form>
  </div>
        <p class="small text-danger my-0">
            <span class="icon">
                <i class="fas fa-exclamation-circle"></i>
            </span>
            <span>Your card will be charged <strong>${{ total|floatformat:2 }}</strong></span>
        </p>
    </div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'js/stripe_elements.js' %}"></script>
{% endblock %}