{% extends "base.html" %}
{% load static %}

{% block content %}
<!-----------------------------------------slideshow-->
        <div class="slider">
            <ul class="slides">
            <li>
                <img src="{% static 'media/5-the-courtyard.jpg' %}">
                <div class="caption center-align">
                <h2><strong>Sold!</strong></h2>
                <h3 class="light grey-text text-lighten-3">€400,000</h3>
                </div>
            </li>
            <li>
                <img src="{% static 'media/7-crane-yard.jpg' %}">
                <div class="caption left-align">
                <h2><strong>For Sale</strong></h2>
                <h3 class="light grey-text text-lighten-3"> €2,000 p/m</h3>
                </div>
            </li>
            <li>
                <img src="{% static 'media/mount-saint-annes.jpg' %}">
                <div class="caption right-align">
                <h2><strong>Sold!</strong></h2>
                <h3 class="light grey-text text-lighten-3">€500,000</h3>
                </div>
            </li>
            </ul>
        </div>
<!-----------------------------------------Propertys container-->
            <div class="container">
                    <div class="col l3 m6 s12">
                        {% for product in products %}
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="{{product.image.url}}" alt="{{ product.name }}">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">{{ product.name }}<i class="material-icons right">more_vert</i></span>
                                    <p class="card-text">€{{ product.price }}</p>
                                </div>
                                {% if request.user.is_authenticated %}
                                <div class="card-action">
                                <a href="{% url 'property_detail' product.id %}">Rent/Purchase</a>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">{{ product.rating }}<i class="material-icons right">close</i></span>
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
{% endblock %}