{% extends "base.html" %}
{% load static %}

{% block content %}
        <div class="slider">
            <ul class="slides">
            <li>
                <img src="{% static 'media/5-the-courtyard.jpg' %}"> <!-- random image -->
                <div class="caption center-align">
                <h2><strong>Sold!</strong></h2>
                <h3 class="light grey-text text-lighten-3">€400,000</h3>
                </div>
            </li>
            <li>
                <img src="{% static 'media/7-crane-yard.jpg' %}"> <!-- random image -->
                <div class="caption left-align">
                <h2><strong>For Sale</strong></h2>
                <h3 class="light grey-text text-lighten-3"> €2,000 p/m</h3>
                </div>
            </li>
            <li>
                <img src="{% static 'media/mount-saint-annes.jpg' %}"> <!-- random image -->
                <div class="caption right-align">
                <h2><strong>Sold!</strong></h2>
                <h3 class="light grey-text text-lighten-3">€500,000</h3>
                </div>
            </li>
            </ul>
        </div>
            <div class="card-columns">
                <div class="card" style="width: 100%;">
                    {% for product in products %}
                        <img class="card-img-top" src="{{product.image.url}}" alt="{{ product.name }}" width="100%" height="100%">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text">{{ product.price }}</p>
                            <p class="card-text">{{ product.rating }}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="col s12 hide-on-med-and-up">
                            <hr>
                        </div>
                    {% endfor %}
                </div>
            </div>



                    <!-- <div class="col s10">
                    <span class="black-text">
                        {% for product in products %}
                            <div class="col 6">
                                <div class="card">
                                {% if product.image %}
                                    <a href="" img class="" src="{{ product.image }}" alt="{{ product.name }}"></a>
                                {% endif %}
                                    <div class="row">
                                        <div class="col">
                                            <p>{{ product.description }}</p>
                                            <p>€{{ product.price }}</p>
                                            <p>{{ product.rating }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </span>
                    </div>
                </div>
            </div>
        </div> -->
{% endblock %}