{% extends 'base.html' %}
{% load static %}

{% block content %}
<!---------------------------------Form and product detail to submit to Wallet app-->
    <div class="container">
        <div class="row">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="{{product.image.url}}" target="_black">
                <img src="{{product.image.url}}" width="100%" height="100%" alt="{{ product.name }}">
                </a>
            </div>
            <div class="card-content">
                <span class="card-title grey-text text-darken-4">Location: {{ product.name }}</span>
                <p class="card-text">Price: €{{ product.price }}</p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Rating: {{ product.rating }}</span>
                <p>Description: {{ product.description }}</p>
            </div>
              <div class="row">
                <form class="col s12" action="{% url 'add_to_wallet' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-group">
                            <input class="form-control qty_input" type="text" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                        </div>
                    </div>
                      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                      </button>
                      <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            </div>
        </div>
    </div>

{% endblock %}