{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
        <!-- <div class="col s12 m6 l6 offset-l2"> -->
            <div class="card-image waves-effect waves-block waves-light">
                <a href="{{product.image.url}}" target="_black">
                <img src="{{product.image.url}}" width="100%" height="100%" alt="{{ product.name }}">
                </a>
            </div>
            <div class="card-content">
                <span class="card-title grey-text text-darken-4">Location: {{ product.name }}</span>
                <p class="card-text">Price: €{{ product.price }}</p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Rating: {{ product.rating }}</span>
                <p>Description: {{ product.description }}</p>
            </div>
              <div class="row">
                <form class="col s12" action="{% url 'add_to_wallet' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s6">
                            <input name="first_name" type="text" data-item-id="{{ product.id }}" id="id_name_{{ product.id }}">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input name="last_name" type="text" data-item-id="{{ product.id }}" id="id_surname_2{{ product.id }}">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12" name="date" placeholder="date" data-item-id="{{ product.id }}" id="id_date_3{{ product.id }}">
                            <input type="text" class="datepicker">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="duration" type="number" value="1" min="1" max="365" data-item-id="{{ product.id }}" id="id_days_4{{ product.id }}">
                            <label for="duration">Duration of Days</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" name="email" type="email">
                            <label for="email">Email</label>
                        </div>
                    </div>
                      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                      </button>
                      <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            </div>
        </div>
    </div>
    <!-- </div> -->


{% endblock %}