{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
        <!-- <div class="col s12 m6 l6 offset-l2"> -->
            <div class="card-image waves-effect waves-block waves-light">
                <a href="{{product.image.url}}" target="_black">
                <img src="{{product.image.url}}" width="100%" height="100%" alt="{{ product.name }}">
                </a>
            </div>
            <div class="card-content">
                <span class="card-title grey-text text-darken-4">Location: {{ product.name }}</span>
                <p class="card-text">Price: €{{ product.price }}</p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Rating: {{ product.rating }}</span>
                <p>Description: {{ product.description }}</p>
            </div>
              <div class="row">
                <form class="col s12" action="{% url 'add_to_wallet' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-group">
                            <input class="form-control qty_input" type="text" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                        </div>
                    </div>
                        <!-- <div class="input-field col s6">
                            <input name="last_name" type="text" required>
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12" name="date" placeholder="date" aria-required="true">
                            <input type="text" class="datepicker">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="duration" type="number" value="1" min="1" max="365" required>
                            <label for="duration">Duration of Days</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" name="email" type="email" required>
                            <label for="email">Email</label>
                        </div>
                    </div> -->
                      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                      </button>
                      <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            </div>
        </div>
    </div>
    <!-- </div> -->


{% endblock %}