{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="slider">
            <ul class="slides">
            <li>
                <img src="{% static 'media/5-the-courtyard.jpg' %}"> <!-- random image -->
                <div class="caption center-align">
                <h2><strong>Sold!</strong></h2>
                <h3 class="light grey-text text-lighten-3">€400,000</h3>
                </div>
            </li>
            <li>
                <img src="{% static 'media/7-crane-yard.jpg' %}"> <!-- random image -->
                <div class="caption left-align">
                <h2><strong>For Sale</strong></h2>
                <h3 class="light grey-text text-lighten-3"> €2,000 p/m</h3>
                </div>
            </li>
            <li>
                <img src="{% static 'media/mount-saint-annes.jpg' %}"> <!-- random image -->
                <div class="caption right-align">
                <h2><strong>Sold!</strong></h2>
                <h3 class="light grey-text text-lighten-3">€500,000</h3>
                </div>
            </li>
            </ul>
        </div>
<!---------------------------New section of properties for Sale-->

  <!-- Row Container with Cards END-->
    <div class="container">
        <div class="row">
                <div class="col l6 m4 s12">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static 'homepage/background1.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Monkstown Co.Dublin<i class="material-icons right">more_vert</i></span>
                            <p>€360,000.00</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">For Sale<i class="material-icons right">close</i></span>
                            <p>3 bed 2 bath for Sale in Monkstown co.Dublin €360,000.00.</p>
                        </div>
                    </div>
                </div>
                <div class="col l6 m6 s12">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static 'homepage/background1.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Arklow Co.Wicklow<i class="material-icons right">more_vert</i></span>
                            <p>€220,000.00</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">For Sale<i class="material-icons right">close</i></span>
                            <p>2 bed 1 bath for Sale Arklow Co.Wicklow €220,000.00</p>
                        </div>
                    </div>
                </div>
            <div class="col l6 m6 s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'homepage/background1.jpg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Glasnevin Co.Dublin<i class="material-icons right">more_vert</i></span>
                        <p>€470,000.00</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">For Sale<i class="material-icons right">close</i></span>
                        <p>4 bed 2 bath for Sale Glasnevin Co.Dublin €470,000.00</p>
                    </div>
                </div>
            </div>
            <div class="col l6 m6 s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'homepage/background1.jpg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Cherrywood Co.Dublin<i class="material-icons right">more_vert</i></span>
                        <p>€200,000.00</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">For Sale<i class="material-icons right">close</i></span>
                        <p>1 bed 1 bath for Sale Cherrywood Co.Dublin €200,000.00</p>
                    </div>
                </div>
            </div>
            <div class="col l6 m6 s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'homepage/background1.jpg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">City Center Co.Dublin<i class="material-icons right">more_vert</i></span>
                        <p>€320,000.00</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">For Sale<i class="material-icons right">close</i></span>
                        <p>2 bed 1 bath for Sale City Center Co.Dublin €320,000.00</p>
                    </div>
                </div>
            </div>
            <div class="col l6 m6 s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'homepage/background1.jpg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Sandyford Co.Dublin<i class="material-icons right">more_vert</i></span>
                        <p>€620,000.00</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">For Sale<i class="material-icons right">close</i></span>
                        <p>4 bed 3 bath for Sale Sandyford Co.Dublin €620,000.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}